html, body
    {margin: 0;
    height: 100%;}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */


div
{border-radius: 10px ;}


.fixe
{display: flex;
height: 100%;}

.sidebar
 {/* pxالعرض هنا يجب ان يكون 120 */
width: 120px;
background-color: #1d3557;}

.header
    {/* pxالطول هنا يجب ان يكون 80 */
    height: 20%;
    background-color:#0077b6;}

.main
    {height:80% ;
     background-color: #457b9d;}

a
     {color: darkgray;
     /* اجعل شكل اللنك من غير خط اسفل الكلام */
     text-decoration: none ;}
a:hover
{color: white;}


.HM
     {height: 100%;}







/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */



h1
{ margin: 0;
 margin-right: 5px;}


h2
{ margin: 0;
 margin-left: 5px;}

p{text-align: center;}

